.sidebar {
    background-color: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.sortcut-links img {
    width: 20px;
    margin-right: 20px;
}

.sortcut-links .side-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}

.sortcut-links hr {
    height: 2px;
    margin-bottom: 10px;
}

.subscribed-list h3 {
    margin: 10px 0px 10px 0px;
}

.side-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.side-link.active img{
    border-bottom:2px solid red ;
    padding-bottom: 4px;
    border-radius: 2px;
    transition: .1s ease;
}
.subscribed-list img{
    width: 30px;
    border-radius: 50%;
}
.subscribed-list p{
    font-size: 15px;
    padding-left: 12px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar p{
   display: none;
}
.small-sidebar h3{
    display: none;
}
@media (max-width:950px) {
    .sidebar{
        width: 100vw;
        height: auto;
        box-shadow: 0px 2px 22px 2px #363535;
    }
    .sortcut-links{
        display: flex;
        justify-content: start;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
    .sortcut-links .side-link img{
        display: none;
    }
    .sortcut-links .side-link p{
        border: 1px solid #363535;
        padding: 10px 15px;
        border-radius: 40px;
        font-size: 10px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .subscribed-list{
        display: none;
    }

}