.container{
    background: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.large-container{
    padding-left: 7%;
}
@media (max-width:950px) {
    .large-container{
        padding-left: 2%;
    }
    .container{
        background: #f9f9f9;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 80px;
        padding-bottom: 20px;
    }
}