nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle{
    flex-grow: 1;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    width: 100%;
    margin-left: 10px;
}
.nav-middle .search-box input{
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}
@media (max-width:841px) {
    .nav-right img:nth-child(1){
         display: none;
    }
    .nav-right img:nth-child(4){
        display: none;
   }
   .nav-left .logo{
        width: 90px;
   }
   .nav-left .menu-icon{
    margin-right: 10px;
}

}